@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* share style */
.current-content{
  width: 364px;
  height: 299px;
  padding: 40px; 
  border-radius: 16px;
  margin: 0px 10px;
  /* border: 1px solid red; */
}
.current-content img{
  margin-bottom: 12px;
  }
  .current-content h5{
    font-size: 30px;
    margin-bottom: 12px;
  }
  .current-content p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    margin-bottom: 40px;
  }
  .current-content a{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    text-decoration-line: underline;
  }

/* share style end */
body{
  font-family: "Azeret Mono", monospace;
}
/* banner section style */
.banner-container{
  max-width: 1440px;
  width: 1440px;
  height: 652px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 10px;
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.banner-content{
  width: 998px;
  height: 582px;
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-top: 26px;
  margin-bottom: 44px;
}
.banner-content-img{
  width: 240px;
  height: 240px;
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 40px;
  
}
.banner-title{
  text-align: center;
  font-size: 30px;
 font-weight: 800;
 padding-left: 20px;
 padding-right: 20px;
 margin-bottom: 50px;
}
.banner-description{
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400;
  padding-left: 73px;
  padding-right: 73px;
  opacity: 0.7;
}
.banner-content-btn{
  width: 208px;
  height: 66px;
  color: rgb(255, 255, 255);
  padding: 21px 24px 21px 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background-color:rgb(13, 19, 33);
  border: none;
  cursor: pointer; 
 
 
}
.banner-btn-div{
  text-align: center;
  margin-top: 60px;
}
.banner-content-btn a{
text-decoration: none;
color:rgb(255, 255, 255);

}
/* why web development? style */
.webdev-container{
  width: 1140px;
  height: 200px;
  margin: 0 auto;
  margin-top: 80px;
  /* border: 1px solid red; */
}
.left-container{
 width: 1140px;
 height: 336px;
 margin: 0 auto;
 margin-top: 50px;
 /* border: 1px solid red; */
 display: flex;
 justify-content: space-between;
 padding: 50px;
}
.webdev-title{
  font-size: 32px;
  font-weight: 800px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 24px;
  
}
.webdev-description{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 48px;
  opacity: 0.7;

}

.left-content-title{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);

}
.left-content-description{
font-size: 16px;
font-weight: 400;
margin-bottom: 40px;
opacity: 0.7;

}
.left-content-btn{
  width: 171px;
  height: 47px;
}
.left-content-btn a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(13, 19, 33);
}
.left-image img{
margin-right: 50px;
}
.right-content-title{
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
}
.right-content-description{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  opacity: 0.7;
}
.right-content-btn,.right-content-btn a{
  width: 171px;
  height: 47px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(13, 19, 33);
}
.right-image2{
  padding-left: 120px;
}
/* my inspiration style  */
.my-inspiration-container{
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 80px;
  /* border: 1px solid red; */

}
.inspiration-title{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 50px;
}
.inspiration-description{
  text-align: center;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.7);
  opacity: 0.7;

}
.inspiration-youtube{
  width: 1076px;
  height: 550px;
  margin: 0 auto;
  margin-top: 80px;
  /* border: 1px solid rebeccapurple; */
  
}
.youtube-video{
  border-radius: 16px;
}
/* my current target style */
.current-target-container{
  width: 1140px;
  height: 100px;
  margin: 0 auto;
  margin-top: 100px;
  /* border: 1px solid red; */
  
}
.current-target-title{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  
}
.current-target-description{
  text-align: center;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.7);
  opacity: 0.7;
}
.current-left-content{
  width: 364px;
  height: 299px;
  /* border: 1px solid rgb(10, 101, 193); */
}
.current-middle-content{
  width: 364px;
  height: 299px;
  /* border: 1px solid rgb(10, 101, 193); */
}
.current-right-content{
  width: 364px;
  height: 299px;
  /* border: 1px solid rgb(10, 101, 193); */
}
.current-card-container{
  width: 1140px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  
  /* border: 1px solid greenyellow; */
}
.left-bg{
  background-color: rgba(255, 76, 30, 0.05);
}
.middle-bg{
  background-color: rgba(0, 76, 232, 0.05);
}
.right-bg{
  background-color: rgba(255, 223, 0, 0.05);
}
/* support section style */
.support{
  background-image: url(../assets/handshake.jpg);
  background-size: cover;
  background-position-y: center;
  width: 1140px;
  height: 313px;
  margin: 0 auto;
  margin-bottom: 30px;
  /* border: 1px solid red; */
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  
}
.support-content{
  width: 1044px;
  height: 185px;
  margin: 0 auto;
  margin-top: 30px;
  /* border: 1px solid rgb(10, 7, 7); */
}
.support-content{
  text-align: center;
  color: #fff;
}
.support-content h3{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 35px;
}
.support-content p{
  font-size: 12px;
  margin-bottom: 40px;
  font-weight: 400;
  opacity: 0.7;
  color: rgb(255, 255, 255);
}
.support-content input{
  width: 500px;
  height: 48px;
  align-items: center;
  padding: 19px 20px 19px 20px;
  margin-top: 24px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
}
.support-content button{
  width: 100px;
  height: 48px;
  margin-left: 10px;
  border-radius: 8px;
  font-size: 18px;
  color: rgb(13, 19, 33);
  border: none;
  outline: none;
}
/* footer section style */
.footer-container{
  width: 1440px;
  height: 150px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
.footer-content{
  width: 1140px;
  height: 50px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding:10px 0; */
}
.footer-title{
  padding-right: 600px;
  color: rgb(13, 19, 33);
}
.footer-content img{
  padding-left: 20px;
  
}

