@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* share style */

/* share style end */
body{
  font-family: "Azeret Mono", monospace;
}
/* banner section style */
.banner-container{
  max-width: 1440px;
  width: 1440px;
  height: 652px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 10px;
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.banner-content{
  width: 998px;
  height: 582px;
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-top: 26px;
  margin-bottom: 44px;
}
.banner-content-img{
  width: 240px;
  height: 240px;
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 40px;
  
}
.banner-title{
  text-align: center;
  font-size: 30px;
 font-weight: 800;
 padding-left: 20px;
 padding-right: 20px;
 margin-bottom: 50px;
}
.banner-description{
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  font-weight: 400;
  padding-left: 73px;
  padding-right: 73px;
  opacity: 0.7;
}
.banner-content-btn{
  width: 208px;
  height: 66px;
  color: rgb(255, 255, 255);
  padding: 21px 24px 21px 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background-color:rgb(13, 19, 33);
  border: none;
  cursor: pointer; 
 
 
}
.banner-btn-div{
  text-align: center;
  margin-top: 60px;
}
.banner-content-btn a{
text-decoration: none;
color:rgb(255, 255, 255);

}
/* why web development? style */
.webdev-container{
  width: 1140px;
  height: 200px;
  margin: 0 auto;
  margin-top: 80px;
  /* border: 1px solid red; */
}
.left-container{
 width: 1140px;
 height: 336px;
 margin: 0 auto;
 margin-top: 50px;
 border: 1px solid red;
 display: flex;
 justify-content: space-between;
 padding: 50px;
}
.webdev-title{
  font-size: 32px;
  font-weight: 800px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 24px;
  
}
.webdev-description{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 48px;
  opacity: 0.7;

}

.left-content-title{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);

}
.left-content-description{
font-size: 16px;
font-weight: 400;
margin-bottom: 40px;
opacity: 0.7;

}
.left-content-btn{
  width: 171px;
  height: 47px;
}
.left-content-btn a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(13, 19, 33);
}
.left-image img{
margin-right: 50px;
}
.right-content-title{
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
}
.right-content-description{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  opacity: 0.7;
}
.right-content-btn,.right-content-btn a{
  width: 171px;
  height: 47px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(13, 19, 33);
}
.right-image2{
  padding-left: 120px;
}
/* my inspiration style  */
.my-inspiration-container{
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 80px;
  /* border: 1px solid red; */

}
.inspiration-title{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 50px;
}
.inspiration-description{
  text-align: center;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.7);
  opacity: 0.7;

}
.inspiration-youtube{
  width: 1076px;
  height: 550px;
  margin: 0 auto;
  margin-top: 80px;
  /* border: 1px solid rebeccapurple; */
  
}
.youtube-video{
  border-radius: 16px;
}